@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.img:after {
  content: "";
  width: 90%;
  position: absolute;
  top: -5%;
  bottom: -10%;
  left: 0;
  background-image: url(./assets/dots.png);
  background-repeat: repeat;
  z-index: -1;
}

.img:before {
  content: "";
  position: absolute;
  top: 50px;
  right: 0;
  left: 50px;
  bottom: 0;
  border: 10px solid #9accc9;
  z-index: -1;
}
